@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&family=Roboto:wght@400;700&display=swap");

                    /* Default reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary-text-color: #183b56;
  --secondary-text-color: #577592;
  --accent-color: #2294ed;
  --accent-color-dark: #1d69a3;
  --padding-inlibne-section: 20px;
}

body {
  color: var(--primary-text-color);
  font-family: "Poppins", sans-serif;
}
h1 {
  font-size: 3rem;
}
h2 {
  font-size: 2rem;
}
h3 {
  font-size: 1.5rem;
}

p {
  font-family: "Roboto", sans-serif;
  font-size: 1.25rem;
  color: var(--secondary-text-color);
  line-height: 1.8rem;
}

a {
  cursor: pointer;
  display: inline-block;
  text-decoration: none;
}

                    /* Utility Class */

.container {
  max-width: 1180px;
  padding-inline: var(--padding-inlibne-section);
  margin-inline: auto;
  
}

ul {
  list-style: none;
}
.flex {
  display: flex;
  align-items: center;
}
.hover_link {
  color: var(--primary-text-color);
  transition: 0.2s ease-out;
}
.hover_link:hover {
  color: var(--accent-color);
}

                    /* Top-banner */

.top-banner {
  background-color: #e74694;
  background-image: url(./img/5b7e4d7973addf81ed1f4010_pattern.png);
  background-size: 300px;
}
.small-bold-text {
  font-size: 1rem;
  font-weight: 700;
}
.banner-text {
  text-align: center;
  color: white;
  padding: 15px 30px;
}

                    /* Nav-bar-image-logo */

.main-navbar {
  margin-top: 20px; /*space b/w two items in flex*/
  justify-content: space-between;
}
.company-logo img {
  width: 200px;
  
}

                    /*Nav-bar-links */

.nav_links ul {
  justify-content: end;
  gap: 40px;
}

.nav_links {
  flex-basis: 730px;
}

.primary_button {
  color: white !important;
  border-radius: 6px;
  background-color: var(--accent-color);
  padding: 12px 24px;
  font-weight: 500;
  box-shadow: 0 0 2px var(--secondary-text-color);
  transition: 0.2s ease-out;
}
.primary_button:hover {
  background-color: var(--accent-color-dark);
}

.secondary_button {
  border-radius: 6px;
  padding: 12px 24px;
  font-weight: 700;
  color: var(--primary-text-color) !important;
  transition: 0.2s ease-out;
  border: 0.5px solid var(--secondary-text-color);
}
.secondary_button:hover {
  border-color: var(--accent-color);
  color: var(--accent-color) !important;
}

                    /* Header  */

header {
  padding: 30px var(--padding-inlibne-section);
}
.header-section {
  justify-content: center;
  align-items: center;
  gap: 50px;
}
.header_left {
  max-width: 40vw;
}

.header_left p {
  margin-top: 20px;
}
.header_left a {
  margin-top: 20px;
}
.header_right img {
  width: 586px;
}

                    /* Company Section */
.company_text {
  text-align: center;
  color: var(--primary-text-color);
  margin-block: 30px;
}
.logos {
  justify-content: space-between;
}
.logos img {
  width: 100px;
}

                    /* Feature Section */

.feature_section {
  padding: 30px var(--padding-inlibne-section);
  background-image: url(img/5af9951ea9b84ec337b92251_Oval2.svg);
  background-position: center;
  background-size: auto 90%;
  background-repeat: no-repeat;
  background-attachment: scroll;
}

.feature-heading {
  text-align: center;
}
.feature-heading a {
  margin-block: 20px;
}

                    /* Feature Card */

.feature-area {
  padding: 30px var(--padding-inlibne-section);
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 30px;
}
.feature-card {
  flex-direction: column;
  gap: 20px;
  text-align: center;
  max-width: 30%; /* Its used for card-width*/
}

                    /* Big-Feature- */

.big-feature {
  padding: 30px var(--padding-inlibne-section) 0;
}
.big-feature-conatiner {
  gap: 20px;
}
.feature-image img {
  width: 100%;
}

.feature-description {
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
}
.big-feature-conatiner:nth-child(2) {
  flex-direction: row-reverse;
}

                    /* Example Section */

.example-section {
  padding: 30px var(--padding-inlibne-section) 0;
}
.example-header {
  flex-direction: column;
  gap: 20px;
}

.example-area {
  justify-content: space-between;
  margin-block: 30px;
}

.example-card {
  width: 23%;
  position: relative;

  background-image: url(./img/asset\ 36.jpeg);
  background-size: cover;
  min-height: 300px;
  transition: 0.2s ease-out;
}
.example-card:hover {
  box-shadow: 0 0 10px #888;
}
.example-area h3 {
  position: absolute;
  bottom: 20px;
  left: 20px;
  right: 20px;
  color: #fff;
  font-size: 19px;
  letter-spacing: -0.6px;
}
.example-card:nth-child(2) {
  background-image: url(img/asset\ 37.jpeg);
  background-size: cover;
}
.example-card:nth-child(3) {
  background-image: url(../img/asset\ 38.jpeg);
  background-size: cover;
}
.example-card:nth-child(4) {
  background-image: url(/img/asset\ 39.jpeg);
  background-size: cover;
}

                    /* CTA Section */

.cta-section {
  margin-block: 50px;
  padding: 50px var(--padding-inlibne-section);
  background-color: var(--primary-text-color);
}
.cta-container {
  justify-content: space-between;
  gap: 50px;
  align-items: flex-start;
}

                    /* CTA Left-side */

.cta-left {
  flex-direction: column;
  align-items: flex-start;
  color: white;
  gap: 20px;
}
.panel-list {
  justify-content: space-between;
  gap: 30px;
  font-size: 14px;
}
.panel-list ul {
  color: var(--secondary-text-color);
  list-style: square;
}

.underline {
  border-style: none none dashed;
  border-width: 1px;
  color: var(--secondary-text-color);
}

                    /* CTA Right-side */

.cta-right {
  background-image: url(img/asset\ 40.png);
  background-size: cover;
  background-repeat: no-repeat;
  color: var(--secondary-text-color);
}
.pannel-image {
  flex-direction: column;
  width: 500px;
  min-height: 500px;
  justify-content: center;
  background-image: url(img/asset\ 41.png);

  background-repeat: no-repeat;

  background-size: 215px 225px;
  background-position: center;
}
.price {
  margin-right: 8px;
  margin-left: -2px;
  color: #2294ed;
  font-size: 50px;
  line-height: 36px;
  font-weight: 600;
}

                    /* CTA Section-2 */

.cta-section2 {
  padding: 50px var(--padding-inlibne-section);
}
.cta-section2-container {
  flex-direction: column;
  gap: 30px;
  text-align: center;
}

                    /* Footer Section */
.footer {
  background-color: #ebf2fa;
  padding: 50px var(--padding-inlibne-section);
}
.footer-container {
  gap: 145px;
  align-items: flex-start;
}

.footer-image img {
  width: 200px;
}
.footer-links {
  gap: 50px;
  align-items: flex-start;
}
.footer-links h4 {
  padding-bottom: 10px;
}
.footer-links a {
  color: var(--secondary-text-color);
  font-size: 13px;
}

                    /* SubFooter Section */

.subfooter {
  padding: 20px var(--padding-inlibne-section);
  background-color: #b9cde4;
}
.subfooter-container {
  justify-content: center;
  gap: 30px;
}
.subfooter-textLinks {
  gap: 30px;
  font-size: 12px;
}

.subfooter-mediaLinks {
  gap: 30px;
}

.subfooter-mediaLinks img {
  width: 15px;
}
